<div class="container">
  <h2>予約済ルーム一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ルーム画像</th>
        <th scope="col">ルーム名</th>
        <th scope="col">ルーム紹介文</th>
        <th scope="col">合計料金</th>
        <th scope="col">開始日</th>
        <th scope="col">終了日</th>
        <th scope="col">予約確定日時</th>
      </tr>
    </thead>
    <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><img class="room_icon" src="<%= "/images/room_images/#{reservation.room_image}" %>"></td>
            <td><%= link_to( reservation.room, "/rentals/#{reservation.rental_id}" ) %></td>
            <td><%= reservation.description %></td>
            <td><%= reservation.total %>円</td>
            <td><%= reservation.check_in %></td>
            <td><%= reservation.check_out %></td>
            <td><%= reservation.created_at %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
