<!DOCTYPE html>
<html>
  <head>
    <title>poteshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/rentals/top">poteshare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="form-group row">
      <%= search_form_for @q, url: rentals_path do |f| %>
      <%= f.search_field :area_cont , class: "form-control me-2", placeholder: "東京" , class: "form-inline"%>
      <%= f.search_field :area_or_address_cont , class: "form-control me-2 nav-link", placeholder: "キーワード検索" , class: "form-inline"%>
      <%= f.submit "検索", class: "btn btn-outline-success" , class: "form-inline"%>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if @current_user %>
          <%=link_to @current_user.user_name, user_path(@current_user.id), class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">メニュー</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%=link_to "ルームの登録", new_rental_path, class: "dropdown-item"%></li>
                  <li><%=link_to "予約済一覧", reservations_path, class: "dropdown-item"%></li>
                  <li><%= link_to("登録済", "/rentals/#{@current_user.id}/entry", class: "dropdown-item") %></li>
                  <li><%=link_to "プロフィール", user_path(@current_user.id), class: "dropdown-item"%></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%=link_to "ログアウト", logout_path, method: :post, class: "dropdown-item" %></li>
                </ul>
        </li>
        <% else %>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" onclick="location.href='/login'">ログイン</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-info" onclick="location.href='/users/new'">登録する</button>
        </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    <footer class="bg-dark p-3">
      <p class="text-center">poteshare</p>
    </footer>
  </body>
</html>
